html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.hidden {
  transform: translateY(-500px) !important;
  display: none !important;
  opacity: 0 !important;
}

.show-flex {
  transform: translateY(0) !important;
  display: flex !important;
  opacity: 1 !important;
}

.container {
  max-width: 1186px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  color: #ffffff;

  background-color: $blue;
  border-radius: 3px;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: $blue-active;
  }
}

.section-title {
  margin-bottom: 48px;

  font-weight: 700;
  text-align: center;
  font-size: 36px;
  color: $light-black;
}

@media (max-width: 1024px) {
  .container {
    max-width: 930px;
  }
}

@media (max-width: 860px) {
  .container {
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 800px) {
  .section-title {
    font-size: 32px;
  }
}