html {
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1186px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  color: #ffffff;

  background-color: $blue;
  border-radius: 3px;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: $blue-active;
  }
}