.how-we-work {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 48px;

    font-weight: 700;
    text-align: center;
    font-size: 36px;
    color: $light-black;
  }

  &__items {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 290px;

    &:not(:last-child) {
      margin-right: 102px;
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;

      img {
        width: 120px;
        height: 120px;
      }
    }

    &__title {
      margin-bottom: 12px;

      text-align: center;
      font-weight: 700;
      font-size: 18px;
      color: $light-black;
    }

    &__text {
      color: $middle-grey;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media (max-width: 1024px) {
  .how-we-work {
    &__item {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

@media (max-width: 800px) {
  .how-we-work {
    margin-bottom: 80px;

    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 32px;
      }
    }
  }
}